body {
    cursor: url('White-Cat-Paw-PNG.png'), auto;
    overflow-x: hidden;
}

button {
    cursor: url('White-Cat-Paw-PNG.png'), auto;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 5px;
    min-height: 50vw;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: 25% 75% ;
    grid-template-areas: 
        "header header"
        "menu catalog"
        "footer footer"
    ;
}

.header {
    grid-area: header;
    background-color: hsl(33, 100%, 88%);
    width: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sideBar {
    grid-area: menu;
    background-color: hsl(32, 62%, 96%);
    position: relative;
}

.catalog {
    grid-area: catalog;
    background-color: hsl(32, 62%, 96%);
    position: relative;
    overflow-y: auto;
}

.footer {
    grid-area: footer;
    background-color: hsl(33, 100%, 88%);
    position: relative;
    color: black;
    padding: 10px;
}

* {
    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                border-color 0.3s ease;
}

.theme-light {
    background: bisque;
    color: 222;
}
  
.theme-dark {
    background: #222;
    color: bisque;
}

.theme2-light {
    background: rgb(254, 242, 227);
    color: 222;
}
  
.theme2-dark {
    background: #4f4f4f;
    color: bisque;
}