@font-face {
    font-family: "Roboto";
    src: url("/src/styles/fonts/Roboto-Regular.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.cardContainer {
    width: 80vw;
    background-color: deepskyblue;
    border-radius: 10px;
    margin: 20px;
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; 
    justify-content: flex-start;
    box-sizing: border-box;
}

.bookCard {
    width: 200px;
    height: 300px;
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
    margin: 20px;
    border-radius: 8px; /* Закругленные углы */
    background-color: #fff;
    font-family: "Roboto";  
}

.bookButton {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%; 
}

/* Эффект при наведении на кнопку */
.bookButton:hover {
    background-color: #45a049; /* Темно-зеленый */
}

/* Эффект при нажатии кнопки */
.bookButton:active {
    background-color: #3e8e41;
    transform: translateY(1px);
}

/* Обложка книги */
.bookCover {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px; /* Закругленные углы у изображения */
}

/* Название книги */
.bookTitle {
    font-size: 18px;
    margin: 0 0 5px 0;
    color: #333;
}

/* Автор книги */
.bookAuthor {
    font-size: 14px;
    margin: 0 0 15px 0; /* Увеличили отступ снизу для кнопки */
    color: #666;
}
