.filterPanel {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    max-width: 300px;
    color: hsl(0, 0%, 0%);
    cursor: url('White-Cat-Paw-PNG.png'), auto;
  }

  
.authorSearch {
  margin-right: 5px;
  width: 100%;
  padding: 3px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: url('White-Cat-Paw-PNG.png'), auto;
}


.authorItem {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  cursor: url('White-Cat-Paw-PNG.png'), auto;
}



.theme-light {
  background: bisque;
  color: 222;
}

.theme-dark {
  background: #222;
  color: bisque;
}

.container{
  position: fixed;
  top: 100px;
  height: 100vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;

  & button{
      margin-top: 50px;
      margin-right: 15px;
      padding: 5px;
  }
}

.title{
  font-size: 24px;
  margin-bottom: 30px;
}
.filter_item {
  font-size: 18px;

  & form select{
      width: 85%;
      border: 1px solid #000;
      border-radius: 5px;

      & option{
          padding: 5px;
      }
  }
}

.favourite{
  display: flex;
  gap: 10px;
}

