.filterPanel {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    max-width: 300px;
    color: hsl(0, 0%, 0%);
    cursor: url('White-Cat-Paw-PNG.png'), auto;
  }

  
.authorSearch {
  margin-right: 5px;
  width: 100%;
  padding: 3px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: url('White-Cat-Paw-PNG.png'), auto;
}


.authorItem {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  cursor: url('White-Cat-Paw-PNG.png'), auto;
}



.theme-light {
  background: bisque;
  color: 222;
}

.theme-dark {
  background: #222;
  color: bisque;
}
